# Introducción a Python

Python fue creado por Guido van Rossum, un programador holandés a finales de los 80 y principio de los 90 cuando se encontraba trabajando en el sistema operativo Amoeba. Python es uno de los lenguajes de programación dinámicos más populares que existen entre los que se encuentran Java, Javascript, Go y C#. Aunque es considerado a menudo como un lenguaje "scripting", es realmente un lenguaje de propósito general.

### Declarando variables en Python

Simplemente debemos darle un nombre y usar el simbolo de `=` para asignarle un valor. Sin embargo hay que seguir ciertas reglas a la hora de darle nombre a nuestras variables y son estas:

* Debe iniciar con una letra o un guion bajo (`_`)
* El nombre no puede iniciar con un numero.
* El nombre puede contener caracteres alfanumericos (A-z, 0-9) y/o guion bajo (`_`)
* Las variables son sensitivas, ejemplo `name` no es igual a `NAME`.
* Las palabras reservadas no pueden ser usadas como nombres de variables.

In [1]:
# Declarando enteros, texto (string), valores con decimales y booleanos (verdadero/falso)
age = 30
salary = 45500.56
name = 'Luffy'
last_name = "Kurosawa"
_username = "lkurosawa"
# 9variable = 99 # Esta dara error ya que no puede iniciar con un numero el nombre de la variable.

#### Tipo de datos en Python

![](https://miro.medium.com/max/1400/1*QfI8H_8HplGa1v9IrrWjBA.png)

#### Ver el contenido de una variable

Para ver el contenido de una variable usaremos la función **`print()`** , la cual recibe como argumento, una o varias variables. Por ejemplo:

```python
x = 3.1416
print(x) # Imprimira en consola 3.1416


x = ("PHP", "Python", "Pearl")
print(x) # Imprimira en consola ("PHP", "Python", "Pearl")
```

In [1]:
x = ("PHP", "Python", "Perl")
print(x)

y = "Wakanda Forever"
print(y)

('PHP', 'Python', 'Perl')
Wakanda Forever

#### Ver el tipo de dato de una variable

Para ver el tipo de dato de una variable, usamos la función `type()`, lo que nos regresara el tipo de dato una variable. Ejemplo

```python
house = 'slytherin'
age = 33
is_friend = True
type(house) # str
type(age) # int
type(is_friend) # bool
```

In [3]:
house = 'slytherin'
age = 33
is_friend = True
print(type(house), type(age), type(is_friend))
type(age)

<class 'str'> <class 'int'> <class 'bool'>

int

### Conversión de datos

Para convertir un tipo de dato a otro, usaremos las siguientes funciones:

* str
* float
* int
* bool
* complex
* list
* tuple
* set

Ejemplo:

```python
x = 1.5
y = "2023"

print(str(x), int(x)) # 1.5 1
print(int(y), float(x)) # 2023 2023.0
```

In [4]:
x = 1.5
y = "2023"

print(str(x), int(x))
print(int(y) + 1, float(y))

1.5 1
2024 2023.0